In [1]:
pwd

'/home/jdlevy/Documents/GitHub/DataHacks_2021'

In [1]:
from src.model_pillars import *

In [2]:
pe = PillarExplainer()

In [1]:
from src.predict_prosperity import *

In [2]:
pm = PredictionModel()

In [3]:
pm.predict_prosperity()

Score for lasso model for busi: 0.9640894528715165
Score for lasso model for econ: 0.9673398935345666
Score for lasso model for educ: 0.9738900875372893
Score for lasso model for envi: 0.8693442106982423
Score for lasso model for gove: 0.9778814627503908
Score for lasso model for heal: 0.9589534348421597
Score for lasso model for pers: 0.9329055841669284
Score for lasso model for safe: 0.9006421526752098
Score for lasso model for soci: 0.20461751867896283

,country,isonum,isocode,year,busi_preds,econ_preds,educ_preds,envi_preds,gove_preds,heal_preds,pers_preds,safe_preds,soci_preds,prosperity_preds
0,Afghanistan,4,AFG,2015,45.540062,51.637593,28.299295,41.424035,23.944236,56.980930,33.324011,41.466294,46.038637,40.961677
1,Angola,24,AGO,2015,34.976944,50.938147,37.455672,49.862658,27.329216,60.796916,41.864390,59.638126,46.666205,45.503142
2,Albania,8,ALB,2015,53.978696,58.601079,58.008805,55.768572,46.385958,76.961539,62.868301,68.471921,50.247334,59.032467
3,United Arab Emirates,784,ARE,2015,59.983543,73.230038,58.974881,61.732775,53.608993,74.521630,40.093387,76.295515,43.147392,60.176462
4,Argentina,32,ARG,2015,47.160994,61.478877,63.420288,60.234478,45.393470,76.380589,74.646269,67.847693,53.944472,61.167459
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,Vietnam,704,VNM,2016,50.666201,67.487036,63.183763,61.611345,36.983331,72.525504,37.064872,66.643059,45.239965,55.711675
294,Yemen,887,YEM,2016,34.810393,43.315404,32.670549,42.857481,23.281868,62.227604,27.911463,51.890974,43.147392,40.234792
295,South Africa,710,ZAF,2016,60.297866,54.094656,54.170223,62.730168,57.717978,56.887930,79.371867,60.936580,52.933619,59.904543
296,Zambia,894,ZMB,2016,54.034969,48.376694,43.202951,60.694163,47.134141,59.673952,49.642643,66.827459,49.540487,53.236384
297,Zimbabwe,716,ZWE,2016,39.916410,56.618847,49.786777,51.406020,32.796458,63.052298,44.302627,61.806555,47.152250,49.648694

In [6]:
country_ranks

,country,isonum,isocode,year,busi_preds,econ_preds,educ_preds,envi_preds,gove_preds,heal_preds,pers_preds,safe_preds,soci_preds,prosperity_preds,prosperity_rank
45,Finland,246,FIN,2015,71.397528,77.720968,79.762380,76.297217,84.181047,79.554857,85.003634,79.681392,52.519212,76.235360,1.0
106,New Zealand,554,NZL,2015,73.887605,78.342279,75.260965,71.101704,83.688766,78.713071,85.574997,80.328578,53.935149,75.648124,2.0
129,Sweden,752,SWE,2015,66.200196,78.519173,76.638887,72.379332,81.936344,81.309506,82.528264,81.931626,55.177248,75.180064,3.0
104,Norway,578,NOR,2015,68.626639,76.970422,75.704711,75.076663,82.388114,79.481516,82.040859,81.011776,54.114595,75.046144,4.0
37,Denmark,208,DNK,2015,68.040240,77.388167,76.284981,70.030103,84.338661,77.925251,82.562591,82.575592,55.188464,74.926005,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,Chad,148,TCD,2016,36.553936,47.951098,18.544930,53.981636,28.186317,46.696928,41.399560,59.559854,46.321334,42.132844,145.0
149,Afghanistan,4,AFG,2016,45.540062,51.637593,28.299295,41.424035,23.944236,56.980930,33.324011,41.373139,46.038637,40.951326,146.0
294,Yemen,887,YEM,2016,34.810393,43.315404,32.670549,42.857481,23.281868,62.227604,27.911463,51.890974,43.147392,40.234792,147.0
170,Central African Republic,140,CAF,2016,35.656168,46.091033,20.000410,58.612766,30.769338,48.999408,32.130787,39.724466,47.434456,39.935426,148.0
270,Sudan,729,SDN,2016,39.713486,46.141643,28.384488,43.905568,25.626340,58.968239,29.170592,41.570076,45.098861,39.842144,149.0

In [11]:
country_ranks = pm.determine_ranks()[['country', 'year','prosperity_rank']]

Score for lasso model for busi: 0.9640894528715165
Score for lasso model for econ: 0.9673398935345666
Score for lasso model for educ: 0.9738900875372893
Score for lasso model for envi: 0.8693442106982423
Score for lasso model for gove: 0.9778814627503908
Score for lasso model for heal: 0.9589534348421597
Score for lasso model for pers: 0.9329055841669284
Score for lasso model for safe: 0.9006421526752098
Score for lasso model for soci: 0.20461751867896283

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
country_ranks.to_csv('country_ranks.csv', index=False)

In [7]:
pe.pillar_train.keys()

dict_keys(['busi', 'econ', 'educ', 'envi', 'gove', 'heal', 'pers', 'safe', 'soci'])